.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
  width: 100%;
  height: 85vh;
  padding: 20px;
  
  .card {
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    ::ng-deep {
      .p-datatable .p-datatable-thead > tr > th {
        padding: 0.7rem;
        font-size: 18px;
        text-align: center;
        background-color: #9747FF;
        border-bottom: 2px solid #ccc;
        color: #FFFFFF;
        width: 25%;
      }    
      .p-datatable-tbody > tr {
        cursor: pointer;
        transition: 0.5s;
        color: #292F47;

        &:hover {
          background-color: #e4d3fa;
        }
      }

      .p-datatable-tbody > tr > td {
        padding: 0.5rem;
        border-bottom: 1px solid #e0e0e0;
        text-align: center;
      }
    }
  }
}

:host ::ng-deep .p-dialog .p-dialog-header {
  background-color: #9747FF;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  .p-dialog-header-close {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.25rem;
    margin-left: 1rem;
    transition: 0.3s;

    &:hover {
      color: #9747FF;
    }
  }
}

:host ::ng-deep .p-dialog .p-dialog-content {
  padding: 2rem;
  border-radius: 0 0 15px 15px;

  .text-secondary {
    color: #292F47;
    align-self: center;
  }

  .modal-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .modal-btn-switch {
      background-color: #9747FF;
      color: #ffffff;
      border: none;
      border-radius: 4px;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s;
      width: 47%;

      &:hover {
        background-color: #6a3ce9;
      }
    }
  }

  .modal-btn-edit {
    background-color: #EEEEEE;
    color: #292F47;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 2vh;
    width: 100%;

    &:hover {
      background-color: #e4d3fa;
    }
  }
}
