:host ::ng-deep {
  .schedule-container {
    background-color: #EEE;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .schedule {
      margin: 0;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #FFFFFF;
      max-width: 70vw;
      width: 100%;
      max-height: 80vh;
      overflow: hidden;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          margin-left: 22vw;
          text-align: center;
          margin-bottom: 20px;
          color: #292F47;
        }

        .pi-trash {
          border: none;
          color: #FFFFFF;
          padding: 8px;
          border-radius: 4px;
          font-size: 20px;
          transition: 0.5s;
          cursor: pointer;
          background-color: #ee3c3c;
          margin-top: -3vh;
          margin-right: 1vw;

          &:hover {
            background-color: #e02a2a;
          }
        }
      }
      .label {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 8px;
        color: #292F47;
      }

      .input-field {
        margin-left: 2vw;
        width: 250px;
        padding: 10px;
        font-size: 14px;
        color: #292F47;
        border-radius: 6px;
        border: 1px solid #CCC;
        background-color: #FFF;
        transition: border-color 0.3s ease;

        &:focus {
          outline: none;
          border-color: #9747FF;
          box-shadow: 0 0 5px rgba(151, 71, 255, 0.5);
        }

        &:hover {
          border-color: #6a3ce9;
        }

        option {
          font-size: 14px;
          color: #292F47;
          background-color: #FFF;
        }
      }

      .schedule-table-container {
        display: block;
        max-height: 60vh;
        overflow-y: auto;

        .p-table {
          width: 100%;
          border-collapse: collapse;

          thead {
            th {
              background-color: #9747FF;
              color: #FFFFFF;
              text-align: center;
              min-width: 100px;
            }
          }

          tbody {
            td {
              white-space: nowrap;
              padding: 10px;
              text-align: center;
              background-color: #EEE;
              color: #292F47;
            }

            tr:nth-child(even) {
              background-color: #F4F4F4;
            }

            tr:hover {
              background-color: #E0E0E0;
            }
          }
        }

        .no-schedule-message {
          text-align: center;
          color: #555555;
          padding: 20px;
          font-size: 18px;
          font-weight: 500;
        }

        .generate-schedule-button {
          display: block;
          margin: 20px auto;
          padding: 10px 20px;
          border-radius: 8px;
          background-color: #9747FF;
          color: #FFFFFF;
          font-size: 16px;
          font-weight: 500;
          border: none;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #6a3ce9;
          }
        }
      }
    }
  }
}
