@import "primeicons/primeicons.css";
@import 'primeng/resources/themes/lara-light-purple/theme.css';
@import 'primeng/resources/primeng.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.nav {
  height: 15vh;
  background-color: #FFFFFF;
  box-shadow: 0 12px 50px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.5vw;

  .logo {
    display: flex;
    align-items: center;

    a {
      display: flex;
      align-items: center;
    }

    img {
      height: 55px;
      width: 55px;
    }

    h2 {
      margin-left: 1vw;
      font-size: 28px;
      font-weight: 300;
    }
  }

  .welcome-message {
    margin-left: auto;
    margin-right: 3vw;
    display: flex;
    align-items: center;

    h2 {
      font-size: 20px;
      font-weight: 500;
      color: #292F47;
    }

    span {
      font-size: 20px;
      font-weight: 500;
      margin-right: 1vw;
      padding: 8px;
      border: #292F47 2px solid;
      border-radius: 100%;
    }
  }

  .pi-bell {
    font-size: 2rem;
    cursor: pointer;
    color: #292F47;
    margin-right: 10vw;
    
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 2px;
    cursor: pointer;

    span {
      width: 30px;
      height: 6px;
      background-color: #292F47;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 1;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #FFFFFF;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    z-index: 2;

    &.active {
      transform: translateX(0);
    }

    .close-menu {
      align-self: flex-end;
      margin-right: 1vw;
      margin-top: 2vh;
      font-size: 32px;
      cursor: pointer;
      color: #292F47;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 50px 0 0 0;
      width: 100%;

      li {
        padding: 15px 0;
        border-bottom: 1px solid #ddd;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
}

.p-toast {
  .p-toast-top-right {
    top: 1rem;
    right: 1rem;
  }

  .p-toast-message {
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    color: #1E2772;

    .p-toast-icon-close {
      margin-left: 1rem;
      color: inherit;
      cursor: pointer;
      font-size: 1.25rem;
      align-self: flex-start;
    }

    .p-toast-message-content {
      display: flex;
      align-items: center;
      flex-grow: 1;
      
      .p-toast-message-icon {
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        font-size: 1.5rem;
      }

      .p-toast-message-text {
        margin-left: 0.5rem;
      }
      
      .p-toast-summary {
        font-size: 1rem;
        font-weight: bold;
      }

      .p-toast-detail {
        font-size: 0.875rem;
        margin-top: 0.25rem;
      }
    }

    &.p-toast-message-success {
      background-color: #d4f2c4;
    }

    &.p-toast-message-error {
      background-color: #f9cccc;
    }

    &.p-toast-message-info {
      background-color: #cce6ff;
    }

    &.p-toast-message-warn {
      background-color: #fff9cc;
      color: #292F47;
      .p-toast-icon-close {
        color: #292F47;
      }
    }
  }
}
