.attendance-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 5vw;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 12px 50px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
    padding: 20px;

    .back {
      align-self: flex-start;
      text-decoration: none;
      color: #ffffff;
      font-size: 1rem;
      padding: 8px;
      background-color: #9747FF;
      transition: 0.5s;
      margin: 5vh 3vw;
      border-radius: 4px;

      &:hover {
        background-color: #6F2EEB;
      }
    }

    h1 {
      margin: 5vh 0;
      color: #292F47;
    }

    .header-item {
      display: flex;
      align-self: start;
      justify-content: space-between;
      width: 50%;
      margin-left: 3.2vw;
      
      .form-item {
        .label {
          margin-left: 0;
          align-self: start;    
          
          &.label-qtd {
            margin-left: 9.2vw;
          }
        }

        .input-field {
          align-self: start;
          width: 12vw;
          height: 6vh;
        }
        
        .qtd {
          margin-left: 11vw;
          display: flex;
          width: 12vw;
          height: 6vh;
          align-items: center;
          
          .input-number {
            width: 4vw;
            height: 6vh;
            border: 1px solid #CCC;
            border-radius: 4px;
            background-color: #EEE;
            font-size: 16px;
            color: #555555;
            text-align: center;

            &:focus {
              outline: none;
              box-shadow: none;
            }
          }

          .btn-quantity {
            width: 2vw;
            height: 4vh;
            align-self: center;
            background-color: #9747FF;
            border-radius: 4px;
            transition: 0.5s;
            margin: 0 0.5vw;
            font-size: 15px;
            padding: 2px;
            color: #fff;
            border: none;
            
            &:hover {
              background-color: #6F2EEB;
            }

            &:disabled {
              opacity: 0.5;
              cursor: not-allowed;
            }
          }
        }
      }
    }

    .form-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .label {
        font-size: 16px;
        color: #555555;
        margin: 5px;
        align-self: start;
        margin-left: 3.2vw;
      }

      .input-field {
        width: 30vw;
        height: 6vh;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #CCC;
        border-radius: 4px;
        background-color: #EEE;
        font-size: 16px;
        color: #555555;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }  

      ::ng-deep .custom-calendar .p-inputtext, 
      ::ng-deep .custom-calendar .p-calendar {
        border: none;
        box-shadow: none;
        background-color: #EEE;
      }

      ::ng-deep .custom-calendar .p-inputtext {
        background-color: #EEE;
        width: 30vw;
        font-size: 1rem;
      }

      .modal-button {
        align-self: center;
        width: 30vw;
        height: 6vh;
        padding: 8px;
        border-radius: 8px;
        background-color: #EEE;
        border: none;
        color: #292F47;
        font-size: 16px;
        font-weight: 500;
        transition: 0.5s;
        cursor: pointer;
        text-wrap: nowrap;
      }

      .modal-button:hover {
        background-color: #e4d3fa;
      }
    }

    .submit-button {
      width: 20vw;
      height: 6.5vh;
      margin: 5px;
      font-size: 16px;
      margin-top: 10vh;
      color: #FFFFFF;
      padding: 10px;
      border-radius: 4px;
      font-weight: 700;
      background-color: #9747FF;
      transition: 0.5s;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #6F2EEB;
      }
    }
  }

  .image {
    height: 100%;
    width: 55%;
    align-items: flex-end;
    justify-content: center;
    background-color: #FFFFFF;
    z-index: 0;

    img {
      margin-top: 20vh;
      margin-left: 2vw;
      width: 50vw;
      height: 60vh;
    }
  }
}

:host ::ng-deep .p-dialog .p-dialog-header {
  background-color: #9747FF;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  .p-dialog-header-close {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.25rem;
    margin-left: auto;
  }
}

:host ::ng-deep .p-dialog .p-dialog-content {
  padding: 2rem;

  .student-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
  
    span {
      min-width: 38vw;
      margin-left: 1vw;
    }
    .btn-attendance {
      min-width: 3vw;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.5s;
      font-size: 20px;
    }
  }

  .modal-footer {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    
    .save-button {
      width: 30vw;
      height: 6vh;
      padding: 2px;
      background-color: #9747FF;
      font-size: 1.25rem;
      font-weight: 600;
      color: #FFFFFF;
      border: none;
      border-radius: 4px;
      transition: 0.5s;
      cursor: pointer;
  
      &:hover {
        background-color: #6F2EEB;
      }
    }
  }
}
