.content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .welcome-content {
    margin: 10vh;
    margin-bottom: 5vh;
    background-color: #FFFFFF;
    box-shadow: -2px 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px 0 8px 0;
    width: 70vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;

    .welcome-message {
      margin: 5vh;

      .welcome-icon {
        display: flex;
        align-items: center;

        h2 {
          font-size: 20px;
          font-weight: 500;
          color: #292F47;

          span {
            color: #9747FF;
            border: none;
          }
        }

        span {
          font-size: 20px;
          font-weight: 500;
          margin-right: 1vw;
          padding: 8px;
          border: #292F47 2px solid;
          border-radius: 100%;
        }
      }

      .welcome-text {
        display: flex;
        flex-direction: column;
        margin: 2vh;
        font-size: 16px;
        line-height: 1.5;
        color: #555;

        p {
          margin-bottom: 1vh;
          strong {
            color: #9747FF;
          }
        }

        ul {
          padding-left: 20px;
          margin-bottom: 1vh;

          li {
            margin-bottom: 0.5vh;
          }
        }
      }
    }

    .welcome-image {
      width: 45vw;
      height: 50vh;
      align-self: end;

      img {
        width: 100%;
        height: 100%;
        border-radius: 8px 0 8px 0;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .attendance-content {
    margin: 5vh;
    background-color: #FFFFFF;
    box-shadow: -2px 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px 0 8px 0;
    width: 70vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;

    .attendance-image {
      width: 40vw;
      height: 50vh;
      align-self: end;

      img {
        width: 100%;
        height: 100%;
        border-radius: 8px 0 8px 0;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
      }
    }

    .content-info {
      width: 50%;
      padding: 2vw;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 24px;
        font-weight: 500;
        color: #292F47;
        margin-bottom: 1vh;
      }

      span {
        font-size: 16px;
        color: #555;
        margin-bottom: 2vh;
        display: block;
      }

      a {
        font-size: 16px;
        color: #FFFFFF;
        text-decoration: none;
        font-weight: 500;
        width: 20vw;
        height: 6vh;
        background-color: #9747FF;
        padding: 8px;
        text-align: center;
        border-radius: 4px;
        transition: 0.5s;
        margin-top: 7vh;
        align-self: center;

        &:hover {
          background-color: #6a3ce9;
        }
      }
    }
  }

  .assessments-content {
    margin: 5vh;
    background-color: #FFFFFF;
    box-shadow: -2px 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px 0 8px 0;
    width: 70vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;

    .content-info {
      width: 50%;
      padding: 2vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      

      h2 {
        font-size: 24px;
        font-weight: 500;
        color: #292F47;
        margin-bottom: 1vh;
      }

      span {
        font-size: 16px;
        color: #555;
        margin-bottom: 2vh;
        display: block;
      }

      a {
        font-size: 16px;
        color: #FFFFFF;
        text-decoration: none;
        font-weight: 500;
        width: 20vw;
        height: 6vh;
        background-color: #9747FF;
        padding: 8px;
        text-align: center;
        border-radius: 4px;
        transition: 0.5s;
        margin-top: 7vh;
        align-self: center;

        &:hover {
          background-color: #6a3ce9;
        }
      }
    }

    .assessments-image {
      width: 40vw;
      height: 50vh;
      align-self: end;

      img {
        width: 100%;
        height: 100%;
        border-radius: 8px 0 8px 0;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
      }
    }
  }
}