.assessments-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 5vw;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 12px 50px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
    padding: 20px;

    .back {
      align-self: flex-start;
      text-decoration: none;
      color: #ffffff;
      font-size: 1rem;
      padding: 8px;
      background-color: #9747FF;
      transition: 0.5s;
      margin: 5vh 3vw;
      border-radius: 4px;

      &:hover {
        background-color: #6F2EEB;
      }
    }

    h1 {
      margin: 5vh 0;
      color: #292F47;
    }

    ::ng-deep {
      .p-datatable .p-datatable-thead > tr > th {
        padding: 0.7rem;
        font-size: 18px;
        text-align: center;
        background-color: #9747FF;
        border-bottom: 2px solid #ccc;
        color: #FFFFFF;
        width: 25%;
      }

      .p-datatable-tbody > tr {
        cursor: pointer;
        transition: 0.5s;
        color: #292F47;

        &:hover {
          background-color: #e4d3fa;
        }
      }

      .p-datatable-tbody > tr > td {
        font-size: 16px;
        padding: 0.5rem;
        border-bottom: 1px solid #e0e0e0;
        text-align: center;
      }
      
      .search-bar {
        background-color: #fff;
        border: none;
        margin-bottom: 1vh;
        
        .p-input-icon-left {
          width: 100%;
          max-width: 79vw;
          position: relative;
      
          input {
            width: 100%;
            padding-left: 2.5rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            height: 38px;
            font-size: 16px;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            color: #555;
      
            &:focus {
              outline: none;
              border-color: #9747FF;
              box-shadow: 0 0 0 0.2rem rgba(151, 71, 255, 0.25);
            }
          }
      
          .pi {
            position: absolute;
            left: 0.75rem;
            top: 50%;
            transform: translateY(-50%);
            color: #ccc;
            font-size: 1rem;
          }
        }
      }
    }
  }

  .image {
    height: 100%;
    width: 55%;
    align-items: flex-end;
    justify-content: center;
    background-color: #FFFFFF;
    z-index: 0;

    img {
      margin-top: 15vh;
      width: 55vw;
      height: 70vh;
    }
  }
}
