.container {
  display: flex;
  background-color: #FFFFFF;
  height: 100vh;
  align-items: center;

  .login-container {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    padding: 20px;
    background-color: #FFFFFF;
    height: 100vh;
    min-width: 30vw;
    align-items: center;
    box-shadow: 0 12px 50px 0 rgba(0, 0, 0, 0.2);

    .logo {
      margin-top: 15vh;
      display: flex;
      align-items: center;
      gap: 0.5vw;

      img {
        width: 70px;
        height: 70px;
      }

      h1 {
        font-size: 32px;
        font-weight: 300;
      }
    }

    h2 {
      margin-top: 5vh;
      font-size: 20px;
      color: #292F47;
    }

    .login-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-top: 20px;

      .label {
        font-size: 16px;
        color: #555555;
        margin-top: 1vh;
      }

      .input-container {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
      }

      .input-field {
        width: 100%;
        padding: 10px;
        padding-right: 40px;
        border: 1px solid #CCC;
        border-radius: 8px 0 0 8px;
        background-color: #EEE;
      }

      .input-icon {
        display: flex;
        align-items: center;
        background-color: #9747FF;
        padding: 12px;
        border-radius: 0 8px 8px 0;
        color: #FFFFFF;
      }
    }

    .small-fields {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .keep-me-logged {
        display: flex;
        margin-top: 1vh;
        font-size: 14px;

        ::ng-deep .p-checkbox-box {
          border-radius: 4px;
          width: 20px;
          height: 20px;
          cursor: pointer;
        }

        h6 {
          margin: auto;
          margin-left: 2px;
          font-size: 14px;
          color: #292F47;
        }
      }

      a {
        font-size: 14px;
        margin-top: 1vh;
        align-self: flex-end;
        transition: 0.5s;
        color: #1E2772;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .btn {
      margin-top: 3vh;
      width: 100%;
      padding: 10px;
      border-radius: 8px;
      background-color: #9747FF;
      border: none;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: 500;
      transition: 0.5s;
      cursor: pointer;
    }

    .btn:hover {
      background-color: #6a3ce9;
    }
  }

  .image-container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    h2 {
      margin-bottom: 7vh;
      font-size: 32px;
      font-weight: 400;
      color: #292F47;
    }

    img {
      width: 40vw;
    }
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    justify-content: center;

    .login-container {
      margin: 0;
      height: 100vh;
      min-width: 100vw;
      padding: 40px;
      box-shadow: none;

      .logo {
        margin-top: 10vh;
        gap: 5px;
      }

      .small-fields {
        .keep-me-logged {
          h6 {
            font-size: 12px;
          }
        }        

        a {
          font-size: 12px;
          text-wrap: nowrap;
        }
      }
    }

    .image-container {
      display: none;
    }
  }
}

:host ::ng-deep {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEE;

    p-dialog {
      .p-dialog-header {
        background-color: #9747FF;
        color: #FFFFFF;
        font-size: 1.25rem;
        font-weight: 600;
        padding: 1rem;
        border-radius: 15px 15px 0 0;
        align-items: center;
        justify-content: center;
      }

      .p-dialog-content {
        padding: 2rem;
        background-color: #FFFFFF;
        border-radius: 0 0 15px 15px;

        .verification-code-container {
          display: flex;
          justify-content: space-between;
          margin-top: 1rem;

          .verification-input {
            width: 3rem;
            height: 4rem;
            text-align: center;
            font-size: 2rem;
            border: 1px solid #CCC;
            border-radius: 8px;
            background-color: #F9F9F9;
            transition: 0.3s;
            color: #292F47;

            &:focus {
              border-color: #9747FF;
              outline: none;
              background-color: #FFFFFF;
            }
          }
        }

        .modal-btn {
          display: flex;
          justify-content: center;
          margin-top: 1rem;

          .modal-btn-verify {
            background-color: #9747FF;
            color: #FFFFFF;
            border: none;
            border-radius: 8px;
            padding: 0.75rem 2rem;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
              background-color: #6a3ce9;
            }
          }
        }
      }
    }
  }
}
