.assessments-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  
  
  .image {
    height: 100%;
    width: 55%;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;

    img {
      margin-top: 15vh;
      width: 55vw;
      height: 70vh;
    }
  }
  
  .text {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 12px 50px 0 rgba(0, 0, 0, 0.3);
    
    .close {
      align-self: flex-end;
      text-decoration: none;
      color: #ffffff;
      font-size: 1rem;
      padding: 8px;
      background-color: #9747FF;
      transition: 0.5s;
      margin-top: 5vh;
      margin-right: 3vw;
      border-radius: 4px;

      &:hover {
        background-color: #6F2EEB;
      }
    }

    h1 {
      margin-top: 15vh;
      color: #292F47;
    }

    p {
      margin-top: 10vh;
      color: #555555;
      max-width: 25vw;
    }

    .btns {
      display: flex;
      flex-direction: column;
      margin: 10vh auto;
      gap: 10px;

      a {
        color: #FFFFFF;
        padding: 10px;
        border-radius: 4px;
        font-weight: 700;
        background-color: #9747FF;
        transition: 0.5s;
  
        &:hover {
          background-color: #6F2EEB;
        }

        span {
          margin: 5px;
        }
      }
    }
  }
}