.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  width: 60vw;

  .text {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      h2 {
        align-self: center;
        font-size: 28px;
        font-weight: 500;
        color: #292F47;
        margin: 2vh;
      }

      .header-btn {
        border: none;
        color: #FFFFFF;
        padding: 8px;
        border-radius: 4px;
        font-size: 20px;
        transition: 0.5s;
        cursor: pointer;

        &.pi-trash {
          background-color: #ee3c3c;

          &:hover {
            background-color: #e02a2a;
          }
        }

        &.pi-arrow-left {
          background-color: #9747FF;

          &:hover {
            background-color: #6a2eeb;
          }
        }
      }
    }

    .form-group {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
    }

    .form-item {
      display: flex;
      flex-direction: column;
      flex: 1 1 45%;

      .modal-button {
        align-self: center;
        width: 100%;
        padding: 10px;
        border-radius: 8px;
        background-color: #EEE;
        border: none;
        color: #292F47;
        font-size: 16px;
        font-weight: 500;
        transition: 0.5s;
        cursor: pointer;
        text-wrap: nowrap;
      }

      .modal-button:hover {
        background-color: #e4d3fa;
      }

      .label {
        font-size: 16px;
        color: #555;
        margin-bottom: 5px;
      }

      .input-field,
      ::ng-deep .p-multiselect {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #CCC;
        border-radius: 4px;
        background-color: #EEE;
        font-size: 16px;
        color: #555;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      ::ng-deep .p-multiselect {
        .p-multiselect-filter-icon {
          display: none;
        }
      }

      ::ng-deep .p-inputmask {
        border: none;
        background-color: inherit;
        width: 100%;
        height: 100%;
      }

      ::ng-deep .p-inputmask:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .submit-button {
      align-self: center;
      margin-top: 20px;
      width: 50%;
      padding: 10px;
      border-radius: 8px;
      background-color: #9747FF;
      border: none;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.5s;

      &:hover {
        background-color: #6a3ce9;
      }
    }
  }
}

:host ::ng-deep .p-dialog .p-dialog-header {
  background-color: #9747FF;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  .p-dialog-header-close {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.25rem;
    margin-left: 1rem;
    transition: 0.3s;

    &:hover {
      color: #9747FF;
    }
  }
}

:host ::ng-deep .p-dialog .p-dialog-content {
  padding: 2rem;
  border-radius: 0 0 15px 15px;

  .modal-form-item {
    display: flex;
    flex-direction: column;

    .label {
      font-size: 16px;
      color: #555555;
      margin-bottom: 5px;
    }
    
    .input-field {
      width: 100%;
      height: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #CCC;
      border-radius: 4px;
      background-color: #EEE;
      font-size: 16px;
      color: #555555;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .modal-btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    .modal-btn-cadastro {
      background-color: #EEE;
      color: #292F47;
      border: none;
      border-radius: 4px;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: #e4d3fa;
      }
    }

    .modal-btn-listbox, .modal-btn-subject {
      background-color: #9747FF;
      color: #ffffff;
      border: none;
      border-radius: 4px;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: #6a3ce9;
      }
    }
  }

  ::ng-deep .p-listbox {
    width: 100% !important;
    margin: 0 auto;

    .p-listbox-list-wrapper {
      width: 100% !important;
      overflow-x: hidden;
    }

    .p-listbox-list {
      width: 100% !important;
    }

    .p-listbox-item {
      width: 100% !important;
    }

    .subject-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0.75rem;

      span {
        flex-grow: 1;
        font-size: 1rem;
        color: #292F47;
        min-width: 70%;
        width: 18.5vw;
      }

      .quantity-controls {
        display: flex;
        align-items: center;

        input[type="number"] {
          color: #292F47;
          margin: 0 0.5rem;
          width: 2rem;
          padding: 0.25rem;
          font-size: 1rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          text-align: center;

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        .btn-quantity {
          background-color: #9747FF;
          color: #FFFFFF;
          border: none;
          border-radius: 100%;
          padding: 0.25rem;
          font-size: 1rem;
          cursor: pointer;
          transition: background-color 0.5s;

          &:disabled {
            opacity: 0.7;
            cursor: not-allowed;
          }
          &:hover {
            background-color: #6a3ce9;
          }
        }
      }
    }
  }
}

