.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
  width: 100%;
  height: 85vh;
  padding: 20px;
  
  .card {
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    ::ng-deep {
      .p-datatable .p-datatable-thead > tr > th {
        padding: 0.7rem;
        font-size: 18px;
        text-align: center;
        background-color: #9747FF;
        border-bottom: 2px solid #ccc;
        color: #FFFFFF;
        width: 25%;
      }    
      .p-datatable-tbody > tr {
        cursor: pointer;
        transition: 0.5s;
        color: #292F47;

        &:hover {
          background-color: #e4d3fa;
        }
      }

      .p-datatable-tbody > tr > td {
        padding: 0.5rem;
        border-bottom: 1px solid #e0e0e0;
        text-align: center;
      }
      
      .btn-add {
        background-color: #fff;
        color: #4CAF50;
        cursor: pointer;
        padding: 8px;
        border-radius: 8px;
        font-size: 18px;
        border: 2px solid #4CAF50;
        transition: 0.5s;

        &:hover {
          background-color: #4CAF50;
          color: #fff;
        }
      }

      .btn-remove {
        background-color: #fff;
        color: #F44336;
        cursor: pointer;
        padding: 8px;
        border-radius: 8px;
        font-size: 18px;
        border: 2px solid #F44336;
        transition: 0.5s;

        &:hover {
          background-color: #F44336;
          color: #fff;
        }
      }
    }
  }
}

:host ::ng-deep .p-dialog .p-dialog-header {
  background-color: #9747FF;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  .p-dialog-header-close {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.25rem;
    margin-left: 1rem;
    transition: 0.3s;

    &:hover {
      color: #9747FF;
    }
  }
}

:host ::ng-deep .p-dialog .p-dialog-content {
  padding: 2rem;
  border-radius: 0 0 15px 15px;

  .modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    width: 100%;

    .btn-add {
      background-color: #fff;
      color: #4CAF50;
      cursor: pointer;
      padding: 8px;
      border-radius: 8px;
      font-size: 18px;
      border: 2px solid #4CAF50;
      transition: 0.5s;

      &:hover {
        background-color: #4CAF50;
        color: #fff;
      }
    }

    .btn-remove {
      background-color: #fff;
      color: #F44336;
      cursor: pointer;
      padding: 8px;
      border-radius: 8px;
      font-size: 18px;
      border: 2px solid #F44336;
      transition: 0.5s;

      &:hover {
        background-color: #F44336;
        color: #fff;
      }
    }
  }
}

:host ::ng-deep .p-listbox {
  border: 1px solid #9747FF;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: #F5F5F5;
  max-height: 200px;
  overflow-y: auto;
  
  .p-listbox-item {
    padding: 0.7rem;
    font-size: 16px;
    color: #292F47;
    transition: background-color 0.3s;

    &:hover {
      background-color: #e4d3fa;
    }

    &.p-highlight {
      background-color: #9747FF;
      color: #FFF;
    }
  }
}

:host ::ng-deep .modal-add-teacher .modal-content h3 {
  margin-bottom: 1rem;
  color: #292F47;
  font-size: 20px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  width: 100%;
  
  .btn-add, .btn-remove {
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.5s;
  }
  
  .btn-add {
    background-color: #fff;
    color: #4CAF50;
    border: 2px solid #4CAF50;

    &:hover {
      background-color: #4CAF50;
      color: #fff;
    }
  }

  .btn-remove {
    background-color: #fff;
    color: #F44336;
    border: 2px solid #F44336;

    &:hover {
      background-color: #F44336;
      color: #fff;
    }
  }
}
