.content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
  width: 100%;
  height: 85vh;
  padding: 20px;
  
  .card {
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    ::ng-deep {
      .p-datatable .p-datatable-thead > tr > th {
        padding: 0.7rem;
        font-size: 18px;
        text-align: center;
        background-color: #9747FF;
        border-bottom: 2px solid #ccc;
        color: #FFFFFF;
        width: 25%;
      }    
      .p-datatable-tbody > tr {
        cursor: pointer;
        transition: 0.5s;
        color: #292F47;

        &:hover {
          background-color: #e4d3fa;
        }
      }

      .p-datatable-tbody > tr > td {
        padding: 0.5rem;
        border-bottom: 1px solid #e0e0e0;
        text-align: center;
      }
      
    }
  }
}
